bcl
build
data
metis
eigen
result_files/*
output_files/*
weak_scaling_experiments/*
strong_scaling_experiments/*
applications/*
rank_reordering/*
application_experiments/*
petsc_baseline/petsc_bench
petsc_baseline/*.out
heatmap_experiments/*
strong_scaling_containment/*

